.container {
    background-color: rgb(29, 40, 56);
    width: 100vw;
    height: 100vh;  /* Change to fit minimum content */
    border-radius: 3px;
}
.button-container {
    position: fixed;
    top: 2vh;
    right: 5vw;
    z-index: 1;
    display: flex;
    column-gap: 3vw;
}
.scroll-button {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    justify-content: center;
    width: 100vw;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0% { transform: scale(1,1) translate(0px, 0px); }
    20%{ transform: scale(1,0.95) translate(0px, 5px); }
    80%{ transform: scale(1,1.05) translate(0px, -5px); }
    100% { transform: scale(1,1) translate(0px, 0px); }
}

.fixed-background {
    position: fixed;
    top: 0;
    background-image: url('../../public/japanese-castle-cherry-blossom-mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
}
.header {
    color: white;
    font-size: 80px;
}
.header-container {
    position: absolute;
    width: 50%;
    margin-top: 100px;
}
.about-container {
    position: absolute;
    width: 40%;
    margin-top: 100px;
    left: 45%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}
.about-container p {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
}
.header.left {
    animation: slide-right 3s;
}
.header.right {
    animation: slide-left 3s;
} 
@keyframes slide-left {
    from { margin-left: 100%; }
    to { margin-left: 0%; }
}
@keyframes slide-right {
    from { margin-left: -100%; }
    to { margin-left: 0%; }
}
.scrollabe-container {
    min-height: 300px;
    width: 100vw;
    position: relative;
    background-image: url('../../public/silhouette-cloud.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    padding-top: 100vh;
    scroll-behavior: smooth;
}

.portfolio-container{
    background: repeating-linear-gradient(black 100px, rgb(6, 8, 11), black );
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    padding-top: 50px;
}

.contact-container {
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer {
    width: 100vw;
    height: 70px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: 800px;
}

@media (max-width: 1300px) {
    .header-container {
        width: 100%;
        margin-top: 50px;
    }
    .about-container {
        width: 70%;
        margin-top: 250px;
        left: 10%;
    }   
    .scrollabe-container {
        background-image: none;
    }
}

/* cherry blossom animation, upside down night skyline, up and up type imagery,
cursor change, cursor lag, cursor on click, background, #030911 */