.App {
  text-align: center;
}
body::-webkit-scrollbar{
  display: none;
}
body {
  background-color: rgb(1, 15, 36);
}
a { color: white; text-decoration: none; }
button {background-color: transparent; outline: none; border: none; font-weight: 400;}
